html,body
{
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header > h1 {
    color: white;
    padding-left: 150px;
}

header > nav {
    background: #1f2937;
    margin-right: 150px;
    width: 40%
}

header > nav > ul {
    background: #1f2937;
    display: flex;
    list-style: none;
    margin: 31px 0;
    justify-content: space-between;
}

header li {
    color: white
}

#hero {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-top: 230px;
    padding-bottom: 150px;
}

#hero div {
    font-family: sans-serif;
    margin-left: 150px;
}

#hero div h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero div p {
    font-size: 18px;
    color: #E5E7EB;
    width: 90%;
    margin: 30px 0;
}

#hero div button {
    font-size: 18px;
    padding: 10px 30px;
    background: #3882f9;
    margin-top: 50px;
    border: 0px;
    border-radius: 10px;
}

#hero div a {
    font-size: 18px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#hero img {
    object-fit: cover;
    width: 1250px;
    height: 450px;
    margin-right: 150px
}

#projects {
    height: 550px;
}

#projects h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
}

.panel-list {
    display: flex;
    justify-content: space-between;
    padding: 0 350px;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.panel div {
    height: 200px;
    width: 200px;
    border: 6px solid #3882f9;
    border-radius: 10px;
}

.panel p {
    text-align: center;
    color: #3a3b3c;
}

#quotes {
    height: 550px;
    background: #e5e7eb
}

#quotes blockquote {
    font-size: 48px;
    margin: auto;
    padding-top: 150px;
    width: 900px;
    color: #1f2937;
    font-weight: 100;
}

#quotes p {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    padding-top: 20px;
    padding-left: 950px;
    width: 900px;
}

#call-to-action {
    height: 550px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#call-to-action > div {
    background: #3882f9;
    height: 200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}


#call-to-action h3 {
    color: #F9FAF8;
    font-size: 24px;
    padding-bottom: 15px;
}

#call-to-action p {
    color: #F9FAF8;
    font-size: 18px;
    padding-bottom: 15px;
}


#call-to-action div button {
    font-size: 18px;
    padding: 10px 30px;
    background: #3882f9;
    border: 2px solid white;
    border-radius: 10px;
}

#call-to-action div a {
    font-size: 18px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

footer {
    font-size: 18px;
    line-height: 150px;
    color: #E5E7EB;
    height: 150px;
    background-color: #1f2937;
    text-align: center;
}